@use 'variables' as *

body
    min-height: 100vh
    position: relative
    font-family: $font-serif
    color: $color-font
    background: $color-background

.container
    position: relative
    width: $size-content
    margin: 0 auto
    padding: $space-s 0

header
    position: fixed
    top: $space-s
    left: calc($container-left - $size-side-content - $space-s)
    width: $size-side-content

main
    width: 100%

footer
    position: absolute
    bottom: 0
    left: calc($container-left - $size-side-content - $space-s)
    width: $size-side-content
