// colors
$color-background: #131313
$color-foreground: #131313
$color-font: #fdf9f0
$color-green: #04a652
$color-blue: #478bff;
$color-orange: #ff6e37;
$color-yellow: #ffc411;
$color-violet: #7a78fe;

// sizes
$size-side-content: 15%
$size-content: 40%
$size-gap: 20px
$container-left: calc((100% - $size-content) / 2)
$size-header-gap: 5px
$size-container-margin: 20px

// animations
$animation-duration: .3s
$animation-transition-ease: all $animation-duration ease

// fonts
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

$font-sans: 'Host Grotesk', sans-serif
$font-serif: 'Libre Baskerville', monospace
$font-line-height: 1.5
$font-size-xxl: 2.5em
$font-size-xl: 2em

// spaces
$phi: 1.618;
$space-m: 40px;
$space-s: calc(#{$space-m} / #{$phi});
$space-xs: calc(#{$space-s} / #{$phi});
$space-xxs: calc(#{$space-xs} / #{$phi});
